
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat:wght@300&display=swap');


*{
    
    color: var(--colour);
    background-color: var(--background-color);
    font-family: var(--font-family);
}
:root{
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --background-color: rgb(235, 235, 235); 
    --colour:rgb(181, 0, 0);
}
.dark_mode{
    --background-color: rgb(84, 41, 136); 
    --colour:rgb(255, 255, 255);
    
}

body{
   
    height: 100;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.main{
    padding: 5px;
   
    display: flex;
    flex-direction: column;
   

}

/*nav*/
.nav_bar{
   
    display: flex;
    
    
    justify-content: space-between;
   
    align-items: center;
    
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;

}
.nav-left{
    display: flex;
    gap: 15px;
    

}
.nav-left i{
    color: black;
    

}

.nav-right input{
    width: 110px;
    border-radius: 10px;
    
    color: black;
    border: solid;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: capitalize;
    
    

}
.book-review{
    margin-top: 10px;
    height: 100vh;
    width: 97vw;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
   
  

}
.book-review img{
    height: 43%;
    width: 60%;
    object-fit: cover;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 40vh;
    border-radius: 2px;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    background-color: rgb(219, 218, 217);
   
    text-transform: capitalize;
    padding: 10px 10px;
}
.title z{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    
    font-family: 'Montserrat', sans-serif;
}
.title y span{
    font-weight: 600;
    color: black;
    background-color: transparent;
}
.title y{
    color: goldenrod;
    background-color: transparent;
}
.title i, .title a{
    background-color: transparent;
}
.title button{
    border: solid;
    border-color: black;
    border-radius: 2px;
    background-color: goldenrod;
}




/*reviews*/
.reviews{
   display: flex;
   align-items: center;
   flex-direction: column;
   font-size: 1.6rem;
   text-transform: capitalize;
   font-weight: 500;



}
.heading{
    color: rgb(2, 84, 84);
}
.books{
    height: 33vh;
    width: 95vw;
    border-top: solid;
    border-color: rgb(136, 136, 136);
    border-width: 2px;
    margin-top: 35px;
   
}
.books-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    
    

}
.book-img {
    width: 30vw;
    height: 18vh;
    
}
.book-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.book-dtl{
    width: 65vw;
    
    padding-top: 7px;
    padding-left: 5px;
    justify-content: center;
    
 
    
    display: flex;
    flex-direction: column;
}
.book-dtl w{
    font-size: 0.6rem;
    text-transform: uppercase;
    color: rgb(86, 86, 86);
    width: 60vw;
    
}
.book-dtl h, .book-dtl a{
    width: 60vw;
    font-size: 1.2rem;
    text-decoration: none;

}
.book-dtl x{
    font-size: 1rem;
    width: 60vw;
}
.book-dtl y{
    font-size: 0.7rem;
    display: flex;
    margin-right: 30px;
    color: goldenrod;
    justify-content: flex-end;
}
.book-dtl x i{
    color: goldenrod;
}

.books-summ{
    width: 95vw;
    
    height: 15vh;
    padding: 5px;
}

.summary{
    font-size: 0.8rem;
    height: 10vh;
    
    
}
.reviewd-by{
    font-size: 0.9rem;
   
   
}
.reviewd-by n{
    color: black;
}
.reviewd-by m{
    color: goldenrod;
}



